{% extends "layout.html" %}
{% block content %}
{% import "_macros.html" as macros %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
<script src="{{ url_for('static', filename='js/materia_prima.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

<!-- Contenedor principal con margen superior -->
<div class="flex flex-col self-start mt-10 w-[1200px] max-h-[1000px]">
  <!-- Título Materia Prima centrado -->
  <h1 class="text-3xl font-bold text-center mb-4">COMPRAS</h1>
  <div class="flex flex-col md:flex-row gap-8 mt-10 w-[1200px] min-h-[400px] max-h-[700px]">
    <!-- Formulario -->
    <div class="w-[1200px] bg-white p-6 rounded-lg shadow-lg border border-gray-300 flex-grow flex flex-col justify-between min-h-[400px]">
      <h2 class="font-bold text-center mb-4">COMPRA DE MATERIA PRIMA</h2>
      <form method="POST" novalidate class="w-full max-w-[1200px] mx-auto flex flex-col gap-4 mt-6">
        {{ form.hidden_tag() }}
      
        <!-- Proveedor -->
        <div class="mb-4">
          {{ form.proveedor.label(class="block text-sm font-medium text-gray-700") }}
          <div class="mt-1">
            <select name="proveedor" class="block w-full border border-gray-300 rounded-md text-sm text-gray-400 font-semibold bg-white hover:bg-gray-50 focus:outline-none focus:ring-2">
              <option value="" disabled selected>Selecciona proveedor</option>
              {% for value, label in form.proveedor.choices %}
                <option value="{{ value }}">{{ label }}</option>
              {% endfor %}
            </select>
          </div>
          {% if form.proveedor.errors %}
            <ul class="text-red-500 text-xs mt-1">
              {% for error in form.proveedor.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      
        <!-- Producto -->
        <div class="mb-6">
          {{ form.producto.label(class="block text-sm font-medium text-gray-700") }}
          <div class="mt-1">
            <select name="producto" class="block w-full border border-gray-300 rounded-md text-sm text-gray-400 font-semibold bg-white hover:bg-gray-50 focus:outline-none focus:ring-2">
              <option value="" disabled selected>Selecciona producto</option>
              {% for value, label in form.producto.choices %}
                <option value="{{ value }}">{{ label }}</option>
              {% endfor %}
            </select>
          </div>
          {% if form.producto.errors %}
            <ul class="text-red-500 text-xs mt-1">
              {% for error in form.producto.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      
        <!-- Cantidad, Unidad de Medida y Precio Unitario -->
        <div class="flex gap-2">
          <!-- Cantidad -->
          <div class="w-1/3 flex flex-col">
            <label for="cantidad" class="block text-sm font-medium text-gray-700">{{ form.cantidad.label.text }}</label>
            <div class="mt-1 flex items-center">
              {{ form.cantidad(class="block w-full border text-gray-700 border-gray-300 rounded-md pl-2 text-sm", placeholder="Cantidad") }}
            </div>
            {% if form.cantidad.errors %}
              <ul class="text-red-500 text-xs mt-1">
                {% for error in form.cantidad.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
      
          <!-- Unidad de Medida -->
          <div class="mb-6">
            {{ form.unidad_medida.label(class="block text-sm font-medium text-gray-700") }}
            <div class="mt-1">
              <select name="unidad_medida" class="block w-full border border-gray-300 rounded-md text-sm text-gray-400 font-semibold bg-white hover:bg-gray-50 focus:outline-none focus:ring-2">
                <option value="" disabled selected class="text-gray-400">Selecciona unidad</option>
                {% for value, label in form.unidad_medida.choices %}
                  <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
              </select>
            </div>
            {% if form.unidad_medida.errors %}
              <ul class="text-red-500 text-xs mt-1">
                {% for error in form.unidad_medida.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
      
          <!-- Precio Unitario -->
          <div class="w-1/3 flex flex-col">
            <label for="precio_unitario" class="block text-sm font-medium text-gray-700">{{ form.precio_unitario.label.text }}</label>
            <div class="mt-1 flex items-center space-x-2">
              <!-- Signo de pesos -->
              <span class="text-gray-400 text-lg">$</span>
              <!-- Campo de entrada -->
              {{ form.precio_unitario(class="block w-full border text-gray-700 text-sm border-gray-300 rounded-md pl-2", placeholder="Precio") }}
            </div>
            {% if form.precio_unitario.errors %}
              <ul class="text-red-500 text-xs mt-1">
                {% for error in form.precio_unitario.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      
        <!-- Botón de Enviar -->
        <div class="flex justify-center">
          <button type="submit" class="text-white bg-[#4F4747] hover:bg-[#3e3b3b] focus:outline-none focus:ring-4 focus:ring-[#4F4747] font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-4">
            Agregar
          </button>
        </div>
      </form>      
    </div>
    

    <!-- Tabla de compras (Carrito) -->
    <div class="w-full md:w-2/3 bg-white p-6 rounded-lg shadow-lg border border-gray-300 flex-grow">
      <h1 class="text-2xl font-bold text-center mb-4 flex items-center" style="color: #7c5454;">
        <img src="{{ url_for('static', filename='icons/carrito-de-compras.svg') }}" alt="Carrito de Compras" class="mr-2 w-6 h-6" />
        Carrito de Materia Prima
      </h1>
      <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
          <thead class="text-xs text-white uppercase sticky top-0" style="background-color: #7c5454 !important; z-index: 10;">
            <tr>
              <th class="px-6 py-3">Insumo</th>
              <th class="px-6 py-3">Proveedor</th>
              <th class="px-6 py-3">Cantidad</th>
              <th class="px-6 py-3">Unidad</th>
              <th class="px-6 py-3">Precio Unitario</th>
              <th class="px-6 py-3">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for compra in compras %}
            <tr class="bg-white border-b border-gray-200">
              <td class="px-6 py-4">{{ compra.producto }}</td>
              <td class="px-6 py-4">{{ compra.proveedor }}</td>
              <td class="px-6 py-4">{{ compra.cantidad }}</td>
              <td class="px-6 py-4">{{ compra.unidad_medida }}</td>
              <td class="px-6 py-4">{{ compra.precio_unitario }}</td>
              <td class="px-6 py-4">
                <form action="{{ url_for('registro_compras_bp.eliminar_producto') }}" method="POST" style="display:inline;">
                  {{ form.hidden_tag() }}  <!-- Aquí se agrega el token CSRF -->
                  <input type="hidden" name="producto_index" value="{{ loop.index0 }}">  <!-- Pasamos el índice del producto -->
                  <button type="submit" class="text-red-600 hover:text-red-800 focus:outline-none">Eliminar</button>
                </form>
                <div>
                  <button>Terminar</button>
                  <button>Cancelar</button>
                </div>
              </td>              
            </tr>
            {% else %}
            <tr>
              <td colspan="6" class="text-center py-4">No hay articulos</td>
            </tr>
            {% endfor %}
          </tbody>        
        </table>
      </div>      
    </div>
  </div>
</div>
{% endblock %}
