{% extends "cliente/layout.html" %}
{% block title %}Aviso de privacidad - Maicookies{% endblock %}
{% block content %}

    <div class="container mx-auto px-6 py-12 max-w-4xl flex-grow mt-24">
        <h1 class="text-4xl font-extrabold text-center text-[#5A3E1B] mb-6">Aviso de Privacidad</h1>

        <!-- Estilo aplicado al aviso -->
        <div class="max-w-md mx-auto">
            <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
                <p class="mb-4">
                    <span class="font-semibold">Maicookies</span>, con domicilio en 
                    <span class="font-semibold">Av. Panorama, Valle del Campestre, 37150 León de los Aldama, Gto.</span>,
                    es responsable del tratamiento de sus datos personales.
                </p>

                <p class="mb-4">
                    Utilizamos su información para brindarle un mejor servicio, incluyendo la creación de usuario 
                    y prospección comercial. Si no desea que sus datos sean utilizados para estos fines, puede indicarlo 
                    a través de los siguientes medios:
                </p>

                <p class="mt-4">
                    Usted tiene derecho a conocer, rectificar, cancelar y oponerse al uso de sus datos personales. 
                    Puede ejercer estos derechos enviando un correo a 
                    <a href="mailto:contacto@nugat.com" class="text-[#A0522D] hover:text-[#8B5A2B] font-semibold">contacto@Maicookies.com</a>.
                </p>

                <p class="mt-4">
                    Para cualquier duda o solicitud relacionada con sus datos, puede contactarnos a través de:
                </p>

                <ul class="list-disc ml-6 mt-2">
                    <li><strong>Responsable:</strong> Isaac Murillo</li>
                    <li><strong>Correo:</strong> <a href="mailto:contacto@nugat.com" class="text-[#A0522D] hover:text-[#8B5A2B] font-semibold">contacto@Maicookies.com</a></li>
                    <li><strong>Teléfono: </strong>(477) 173 - 3831</li>
                </ul>

                <p class="mt-4">
                    Nos comprometemos a proteger su privacidad y le notificaremos cualquier cambio en este aviso 
                    a través de correo electrónico.
                </p>

                <p class="mt-6 text-gray-600 text-sm">Última actualización: <strong>10/03/2025</strong></p>
            </div>
        </div>
    </div> 

{% endblock %}
