{% extends "cliente/layout.html" %}
{% block title %}Galería - Maicookies{% endblock %}
{% block content %}

    <section class="bg-white py-12">
        <div class="max-w-screen-lg mx-auto px-6">
            <h1 class="text-4xl font-extrabold text-center text-[#5A3E1B] mb-6">Nuestra Galería</h1>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
                <div class="grid gap-6">
                    <img class="w-full rounded-lg object-cover object-center" src="{{ url_for('static', filename='img/crumbl-banana-bread-cookie.jpg') }}" alt="Galletas Clásicas" />
                    <img class="w-full rounded-lg object-cover object-center" src="{{ url_for('static', filename='img/galleta-canela.jpg') }}" alt="Galletas Clásicas" />
                    <img class="w-full rounded-lg object-cover object-center" src="{{ url_for('static', filename='img/crumbl-peaches-and-cream-cookie.jpg') }}" alt="Galletas Clásicas" />
                </div>
                <div class="grid gap-6">
                    <img class="w-full rounded-lg object-cover object-center" src="{{ url_for('static', filename='img/galleta-limon.jpg') }}" alt="Galletas Clásicas" />
                    <img class="w-full rounded-lg object-cover object-center" src="{{ url_for('static', filename='img/crumbl-neapolitan-cookie.jpg') }}" alt="Galletas Clásicas" />
                    <img class="w-full rounded-lg object-cover object-center" src="{{ url_for('static', filename='img/crumbl-strawberry-milk-cookie.jpg') }}" alt="Galletas Clásicas" />
                </div>
                <div class="grid gap-6">
                    <img class="w-full rounded-lg object-cover object-center" src="{{ url_for('static', filename='img/crumbl-caramel-apple-cookie.jpg') }}" alt="Galletas Clásicas" />
                    <img class="w-full rounded-lg object-cover object-center" src="{{ url_for('static', filename='img/galletas-chocolate.jpg') }}" alt="Galletas Clásicas" />
                    <img class="w-full rounded-lg object-cover object-center" src="{{ url_for('static', filename='img/galleta-roll.jpg') }}" alt="Galletas Clásicas" />
                </div>
            </div>
        </div>
    </section>

{% endblock %}
