{% extends "cliente/layout.html" %}
{% block title %}Nosotros - Maicookies{% endblock %}
{% block content %}

    <section class="bg-[#e1d9ce] min-h-[70vh] px-4 sm:px-10 py-10 mt-24">
        <div class="max-w-screen-lg mx-auto px-6">
            <h1 class="text-4xl font-extrabold text-center text-[#5A3E1B] mb-6">Nosotros</h1>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
                <div class="flex justify-center">
                    <img class="rounded-lg object-cover object-center shadow-lg" src="{{ url_for('static', filename='img/galletas.jpg') }}" alt="Galletas Clásicas" />
                </div>
                <div class="max-w-md mx-auto">
                    <div class="font-light text-dark text-lg dark:text-dark">
                        <p class="mb-4"> En <span class="font-semibold">Maicookies</span>, llevamos años perfeccionando el 
                            arte de la repostería artesanal. Con ingredientes naturales y recetas tradicionales, creamos galletas 
                            que despiertan recuerdos y conquistan corazones.</p>
                        <p class="mt-4">
                            Nuestra misión es brindarte una experiencia inolvidable en cada bocado, fusionando sabores clásicos 
                            con nuevas creaciones. ¡Déjanos endulzar tu día con nuestras deliciosas galletas!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
