<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Proveedores</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', filename='js/proveedor.js') }}"></script>
  </head>

  <body>
    {% extends "layout.html" %} {% block content %} {% import "_macros.html" as
    macros %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/output.css') }}"
    />

    <!-- Contenedor principal con margen superior -->
    <div class="flex flex-col w-full px-10">
      <!-- Botón para abrir el modal de agregar -->
      <div
        class="pl-28 p-4 text-center bg-white border border-gray-300 rounded-lg shadow-sm sm:p-8 dark:bg-gray-800 dark:border-gray-700"
      >
        <div class="flex justify-end">
          <button
            data-modal-target="crud-modal"
            data-modal-toggle="crud-modal"
            class="flex items-center gap-2 text-white focus:outline-none bg-green-500 hover:bg-green-500 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-1dark:bg-green-600 dark:hover:bg-[#3b82f6]"
          >
            <i class="fas fa-truck"></i>
            Agregar
          </button>
        </div>
        <div
          class="flex items-center border border-gray-300 rounded-md w-96 p-2"
        >
          <i class="fas fa-search text-gray-500 px-2"></i>
          <input
            type="search"
            id="search-input"
            class="w-full outline-none"
            placeholder="Buscar proveedor"
          />
        </div>

        <!-- Contenedor de la tabla con scroll -->
        <div class="overflow-x-auto overflow-y-auto max-h-[500px] mt-4">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

          <table
            id="proveedores-table"
            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
          >
            <thead
              class="text-xs text-white uppercase sticky top-0 dark:bg-gray-700 dark:text-gray-400"
              style="background-color: #7c5454 !important; z-index: 10"
            >
              <tr>
                <th scope="col" class="px-6 py-3">Nombre</th>
                <th scope="col" class="px-6 py-3">Teléfono</th>
                <th scope="col" class="px-6 py-3">Email</th>
                <th scope="col" class="px-6 py-3 w-32">Estatus</th>
                <th scope="col" class="px-6 py-3 text-center align-middle">
                  Acciones
                </th>
                <!-- Centrado -->
              </tr>
            </thead>
            <tbody>
              {% for prov in proveedores %}
              <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 relative"
              >
                <th
                  scope="row"
                  class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
                >
                  {{ prov.nombre }}
                </th>
                <td class="px-6 py-4">{{ prov.telefono }}</td>
                <td class="px-6 py-4">{{ prov.email }}</td>
                <td class="px-6 py-4 w-32 overflow-hidden">
                  <label
                    for="switch-{{ prov.id }}"
                    class="inline-flex items-center cursor-pointer"
                  >
                    <input type="checkbox" value="" id="switch-{{ prov.id }}"
                    class="sr-only peer" {% if prov.estatus == 1 %}checked{%
                    endif %} data-id="{{ prov.id }}"
                    onchange="cambiarEstatus(this)" >
                    <div
                      class="relative w-11 h-6 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:bg-green-500 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 {% if prov.estatus == 1 %}bg-green-500{% else %}bg-red-500{% endif %}"
                    ></div>
                    <span
                      class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >
                      {% if prov.estatus == 1 %}Activo{% else %}Inactivo{% endif
                      %}
                    </span>
                  </label>
                </td>
                <td
                  class="px-6 py-4 flex justify-center items-center space-x-4"
                >
                  <a
                    href="javascript:void(0)"
                    data-modal-target="modificar-modal"
                    data-modal-toggle="modificar-modal"
                    class="btn-modificar"
                    data-id="{{ prov.id }}"
                    data-nombre="{{ prov.nombre }}"
                    data-telefono="{{ prov.telefono }}"
                    data-email="{{ prov.email }}"
                  >
                    <svg
                      class="w-5 h-5 text-gray-800 dark:text-black"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
                      />
                    </svg>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Fondo oscuro semitransparente -->
    <div
      id="modal-backdrop"
      class="hidden fixed inset-0 bg-black bg-opacity-50 z-40"
    ></div>
    <!-- Modal para Agregar -->
    <div
      id="crud-modal"
      tabindex="-1"
      aria-hidden="true"
      data-modal-backdrop="static"
      class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
    >
      <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-gray-100 rounded-lg shadow-sm dark:bg-gray-700">
          <!-- Modal header -->
          <div
            class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-300 mb-4"
          >
            <h3
              class="text-lg font-semibold text-gray-900 dark:text-white text-center"
            >
              Agregar Proveedor
            </h3>
            <button
              type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-hide="crud-modal"
            >
              <svg
                class="w-3 h-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                />
              </svg>
              <span class="sr-only">Cerrar modal</span>
            </button>
          </div>
          <!-- Modal body -->
          <form
            action="{{ url_for('provedor_bp.agregar_proveedor') }}"
            method="POST"
            novalidate
            class="p-4 md:p-5"
          >
            {{ form.csrf_token }}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="grid gap-4 mb-4">
              <!-- Campo Nombre -->
              <label
                for="nombre"
                class="block text-sm font-medium text-gray-700 text-left"
              >
                Nombre
              </label>
              <div class="relative z-0 w-full group">
                {{ macros.campoNuevo(form.nombre, class="mt-1 p-2 w-full border
                border-gray-300 rounded-md", placeholder=" ") }}
              </div>

              <!-- Campo Teléfono -->
              <label
                for="telefono"
                class="text-sm font-medium text-gray-700 text-left"
              >
                Teléfono
              </label>
              <div class="relative z-0 w-full group">
                {{ macros.campoNuevo(form.telefono, class="mt-1 p-2 w-full
                border border-gray-300 rounded-md", placeholder=" ") }}
              </div>

              <!-- Campo Email -->
              <label
                for="email"
                class="text-sm font-medium text-gray-700 text-left"
              >
                Email
              </label>
              <div class="relative z-0 w-full group">
                {{ macros.campoNuevo(form.email, class="mt-1 p-2 w-full border
                border-gray-300 rounded-md", placeholder=" ") }}
              </div>
            </div>
            <!-- Botones del formulario -->
            <div class="flex justify-center mt-6">
              <button
                type="submit"
                style="background-color: #24985a !important"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
                Guardar
              </button>
              <button
                type="button"
                data-modal-hide="crud-modal"
                style="background-color: #c90704 !important"
                class="text-white btn-cancelar bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center ml-2"
              >
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal para Modificar -->
    <div
      id="modificar-modal"
      tabindex="-1"
      aria-hidden="true"
      class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
      data-modal-backdrop="static"
    >
      <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
          <!-- Modal header -->
          <div
            class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200"
          >
            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
              Modificar Proveedor
            </h3>
            <button
              type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-hide="modificar-modal"
            >
              <svg
                class="w-3 h-3"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 14"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                />
              </svg>
              <span class="sr-only">Cerrar modal</span>
            </button>
          </div>
          <!-- Modal body -->
          <form
            action="{{ url_for('provedor_bp.modificar') }}"
            method="POST"
            novalidate
            class="p-4 md:p-5"
          >
            {{ form.csrf_token }}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="hidden" name="id" value="{{ form.id.data }}" />

            <div class="grid gap-4 mb-4">
              <!-- Campo Nombre -->
              <label
                for="nombre"
                class="block text-sm font-medium text-gray-700 text-left"
              >
                Nombre
              </label>
              <div class="relative z-0 w-full group">
                {{ macros.campoNuevo(form.nombre, class="mt-1 p-2 w-full border
                border-gray-300 rounded-md", placeholder=" ") }}
              </div>

              <!-- Campo Teléfono -->
              <label
                for="telefono"
                class="text-sm font-medium text-gray-700 text-left"
              >
                Teléfono
              </label>
              <div class="relative z-0 w-full group">
                {{ macros.campoNuevo(form.telefono, class="mt-1 p-2 w-full
                border border-gray-300 rounded-md", placeholder=" ") }}
              </div>

              <!-- Campo Email -->
              <label
                for="email"
                class="text-sm font-medium text-gray-700 text-left"
              >
                Email
              </label>
              <div class="relative z-0 w-full group">
                {{ macros.campoNuevo(form.email, class="mt-1 p-2 w-full border
                border-gray-300 rounded-md", placeholder=" ") }}
              </div>
            </div>

            <!-- Botones del formulario -->
            <div class="flex justify-center mt-6">
              <button
                type="submit"
                style="background-color: #24985a !important"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
                Guardar cambios
              </button>
              <button
                type="button"
                data-modal-hide="modificar-modal"
                style="background-color: #c90704 !important"
                class="btn-cancelar text-white bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center ml-2"
              >
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Script para manejar los modales -->
    <!-- Script para manejar los modales -->
    <script></script>
    <script>
      function cambiarEstatus(checkbox) {
        const id = checkbox.getAttribute("data-id");
        const nuevoEstatus = checkbox.checked ? 1 : 0;

        // Enviar una solicitud al backend para actualizar el estatus
        fetch(`/proveedores/cambiar-estatus/${id}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token() }}", // Asegúrate de incluir el token CSRF
          },
          body: JSON.stringify({ estatus: nuevoEstatus }),
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.success) {
              // Actualizar el texto del estatus
              const textoEstatus = checkbox.parentElement.querySelector("span");
              textoEstatus.textContent =
                nuevoEstatus === 1 ? "Activo" : "Inactivo";

              // Forzar la actualización del estado visual del switch
              const switchDiv = checkbox.nextElementSibling;
              if (nuevoEstatus === 1) {
                switchDiv.classList.remove("bg-red-500");
                switchDiv.classList.add("bg-green-500");
              } else {
                switchDiv.classList.remove("bg-green-500");
                switchDiv.classList.add("bg-red-500");
              }
            } else {
              alert("Error al cambiar el estatus");
              checkbox.checked = !checkbox.checked; // Revertir el cambio
            }
          })
          .catch((error) => {
            console.error("Error:", error);
            alert("Error al cambiar el estatus");
            checkbox.checked = !checkbox.checked; // Revertir el cambio
          });
      }
    </script>

    <!-- Incluye Flowbite JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

    {% endblock %}
  </body>
</html>
