{% extends "layout.html" %}
{% block content %}
{% import "_macros.html" as macros %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}" />
<script src="{{ url_for('static', filename='js/merma.js') }}"></script>


<!-- Contenedor principal con margen superior -->
<div class="flex flex-col w-full px-10">
    <!-- Botón para abrir el modal de agregar -->
    <div class="pl-28 p-4 text-center bg-white border border-gray-300 rounded-lg shadow-sm sm:p-8 dark:bg-gray-800 dark:border-gray-700">        
        <div class="flex justify-end">
            <button data-modal-target="crud-modal" data-modal-toggle="crud-modal"
                class="flex items-center gap-2 text-white focus:outline-none bg-green-500 hover:bg-green-500 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-1 dark:bg-green-600 dark:hover:bg-[#3b82f6]">
                <i class="fas fa-box-open"></i>
                Agregar Merma
            </button>
        </div>
        
        <div class="flex items-center border border-gray-300 rounded-md w-96 p-2">
            <i class="fas fa-search text-gray-500 px-2"></i>
            <input type="search" id="search-input" class="w-full outline-none" placeholder="Buscar merma"/>
        </div>

        <!-- Contenedor de la tabla con scroll -->
        <div class="overflow-x-auto overflow-y-auto max-h-[500px] mt-4">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <table id="mermas-table" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-white uppercase sticky top-0" style="background-color: #7c5454; z-index: 10;">
                    <tr>
                        <th scope="col" class="px-6 py-3">Descripción</th>
                        <th scope="col" class="px-6 py-3">Cantidad</th>
                        <th scope="col" class="px-6 py-3">Fecha y Hora</th>
                        <th scope="col" class="px-6 py-3">Nombre</th>
                        <th scope="col" class="px-6 py-3">Tipo Merma</th>
                    </tr>
                </thead>
                <tbody>
                    {% for merma in mermas %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 relative">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white">
                            {{ merma.descripcion }}
                        </th>
                        <td class="px-6 py-4">{{ merma.cantidad }}</td>
                        <td class="px-6 py-4">{{ merma.fecha }}</td>
                        <td class="px-6 py-4">
                            {% if merma.tipo_merma == 'insumo' and merma.inventario_materia %}
                                {{ merma.inventario_materia.materia_prima.nombre }}
                            {% elif merma.tipo_merma == 'galleta' and merma.inventario_galletas %}
                                {{ merma.inventario_galletas.galleta.nombre }}
                            {% else %}
                                Sin nombre
                            {% endif %}
                        </td>
                        
                        <td class="px-6 py-4">{{ merma.tipo_merma }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal para Agregar Merma -->
<div 
id="modal-backdrop" 
class="hidden fixed inset-0 bg-black bg-opacity-50 z-40"
></div>

<div 
id="crud-modal" 
tabindex="-1" 
aria-hidden="true"
data-modal-backdrop="static"
class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">

<div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-gray-100 rounded-lg shadow-sm dark:bg-gray-700">
            <!-- Modal header -->
            <div
            class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-300 mb-4"
            >                
            <h3 
            class="text-lg font-semibold text-gray-900 dark:text-white text-center"
            >
                Agregar Merma
            </h3>
            <button
              type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-hide="crud-modal"
             >
            <svg 
            class="w-3 h-3" 
            aria-hidden="true" 
            xmlns="http://www.w3.org/2000/svg" 
            fill="none" 
            viewBox="0 0 14 14"
            >
            <path 
            stroke="currentColor" 
            stroke-linecap="round" 
            stroke-linejoin="round" 
            stroke-width="2" 
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
            </svg>
            <span class="sr-only">Cerrar modal</span>
            </button>
            </div>
            
            <!-- Formulario -->
            <form 
            method="POST" 
            action="{{ url_for('merma_bp.crear') }}" 
            novalidate 
            class="p-4 md:p-5"
            >
                {{ form.csrf_token }}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                
                <div class="grid gap-4 mb-4">
                    <!-- Campo Descripción -->
                    <div class="col-span-2">
                        {{ macros.campoNuevo(form.descripcion, class="bg-gray-50 border...", placeholder="Descripción") }}
                    </div>

                    <!-- Campo Tipo Merma -->
                    <div>
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Tipo de Merma
                        </label>
                        {{ macros.campoNuevo(form.tipo_merma, class="bg-gray-50 border...", onchange="toggleMermaFields(this.value)") }}
                    </div>

                    <!-- Campo Cantidad -->
                     <div class="w-full">
                         {{ macros.campoNuevo(form.cantidad, class="bg-gray-50 border ... w-full", placeholder="Cantidad") }}
                     </div>


                      <!-- Campo Insumo (oculto inicialmente) -->
        <div id="insumo-field" class="hidden">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Seleccione Insumo
            </label>
            {{ macros.campoNuevo(form.inventario_materia_id, class="bg-gray-50 border...") }}
        </div>

        <!-- Campo Galleta (oculto inicialmente) -->
        <div id="galleta-field" class="hidden">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Seleccione Galleta
            </label>
            {{ macros.campoNuevo(form.inventario_galletas_id, class="bg-gray-50 border...") }}
        </div>
    </div>
                <!-- Botones del formulario -->
                <div class="flex justify-center mt-6">
                    <button 
                    type="submit" 
                    style="background-color: #24985a !important" 
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Guardar
                    </button>
                    <button 
                    type="submit" 
                    data-modal-hide="crud-modal" 
                    style="background-color: #c90704 !important" 
                    class="text-white btn-cancelar bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center ml-2">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
{% endblock %}