{% extends "layout.html" %} {% block content %}
<div class="flex flex-col w-full px-10">
  <div
    class="w-full p-4 text-center border border-gray-300 rounded-lg shadow-sm"
  >
    <div class="flex justify-between pb-5">
      <div>
        <h1 class="text-4xl font-medium text-gray-800">
          Producción de Galletas
        </h1>
      </div>
      <a
        href="produccion-prod"
        class="flex items-center gap-2 text-white bg-green-500 hover:bg-green-700 rounded-lg text-sm px-5 py-2.5"
      >
        <i class="fas fa-plus"></i>
        Producir Galletas
      </a>
    </div>
    <div class="flex items-center border border-gray-300 rounded-md w-96 p-2">
      <i class="fas fa-search text-gray-500 px-2"></i>
      <input
        type="search"
        id="search-input"
        class="w-full outline-none"
        placeholder="Buscar receta"
      />
    </div>

    <!-- Contenedor de la tabla con scroll -->

    <div class="overflow-x-auto overflow-y-auto max-h-[500px] mt-4">
      {% if galletas %}

      <table
        id="recetas-table"
        class="w-full text-sm text-left rtl:text-right text-gray-500"
      >
        <thead
          class="text-xs text-white uppercase sticky top-0"
          style="background-color: #7c5454; z-index: 10"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Imagen</th>
            <th scope="col" class="px-6 py-3">Galleta</th>
            <th scope="col" class="px-6 py-3">Cantidad</th>
            <th scope="col" class="px-6 py-3">Estatus</th>
          </tr>
        </thead>
        <tbody>
          {% for galleta in galletas %}
          <tr class="bg-white border-b">
            <td class="px-6 py-4">
              {% if galleta.foto %}
              <img
                src="{{ url_for('produccion_bp.mostrar_imagen', galleta_id=galleta.id) }}"
                class="h-20"
                alt="{{ galleta.nombre }}"
              />
              {% else %}
              <div class="text-center py-4 bg-light">
                <i class="fas fa-cookie fa-3x text-secondary"></i>
                <p class="mt-2">Sin imagen</p>
              </div>
              {% endif %}
            </td>
            <th scope="row" class="px-6 py-4 font-medium text-gray-900">
              {{ galleta.nombre }}
            </th>
            <th scope="row" class="px-6 py-4 font-medium text-gray-900">
              {{ galleta.stock }}
            </th>
            <!-- Columna Estatus -->
            <th scope="row" class="px-6 py-4 font-medium text-gray-900">
              {% if galleta.estadoStock == 'Completo' %}
              <span
                class="rounded-full bg-green-600 text-white px-2 py-1 font-medium pr-2 pb-2"
                >{{ galleta.estadoStock }}</span
              >
              {% elif galleta.estadoStock == 'Bajo' %}
              <span
                class="rounded-full text-white px-2 py-1 font-medium pr-2 pb-2"
                style="background-color: #e17100"
                >{{ galleta.estadoStock }}</span
              >
              {% else %}
              <span
                class="rounded-full bg-red-600 text-white px-2 py-2 font-medium pr-2 pb-2"
                >{{ galleta.estadoStock }}</span
              >
              {% endif %}
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="text-center py-8 bg-gray-50 rounded-lg">
        <i class="fas fa-info-circle text-gray-400 text-4xl mb-3"></i>
        <p class="text-gray-500">No hay galletas agregados aún</p>
        <p class="text-sm text-gray-400 mt-1">
          Agregue galletas usando el modulo de recetas
        </p>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- Incluye Flowbite JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

{% endblock %}
