{%macro datos(name,placeholder,type="text")%}
<p><input name="{{name}}" type="{{type}}" placeholder="{{placeholder}}" /></p>

{%endmacro%} {%macro campoNuevo(field)%}

<dd>{{field(**kwargs)|safe}}</dd>

{%if field.errors%}
<ul>
  {% for error in field.errors %}
  <li style="color: red">{{ error }}</li>
  {% endfor %}
</ul>
{% endif %} {%endmacro%}
<!-- {% macro mostrar_flash(exclude_modal_errors=false) %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="fixed top-5 right-5 z-50 space-y-4">
            {% for category, message in messages %}
                {% if not (exclude_modal_errors and request.args.get('modal_error')) %}
                <div class="flex items-center p-4 mb-4 text-sm font-medium text-white rounded-lg 
                    {% if category == 'success' %} 
                        bg-green-500 
                    {% elif category == 'error' %}
                        bg-red-500
                    {% elif category == 'info' %}
                        bg-blue-500
                    {% elif category == 'warning' %}
                        bg-yellow-500
                    {% endif %}
                    animate__animated animate__slideInRight animate__fadeOut animate__duration-1000ms notification">
                    
                    <p>{{ message }}</p>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}


  <script>
    setTimeout(() => {
      const flash = document.getElementById("flash-container");
      if (flash) {
        flash.style.opacity = "0";
        flash.style.transition = "opacity 0.5s ease-out";
        setTimeout(() => flash.remove(), 500);
      }
    }, 2500);
  </script> 

{% endmacro %} -->
